body {
	background: white;
	font-family: sans-serif;
	margin: 0;
}

.wrapper {
	display: flex;
}

.left-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 20px;
}

.right-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#div1 {
	background-color: red;
	width: 150px;
	height: 100px;
	padding: 25px;
	text-align: center;
	border-radius: 50px;
}

#div2 {
	background-color: blue;
	width: 150px;
	height: 100px;
	padding: 25px;
	color: white;
	text-align: center;
	border-radius: 25px;
}

#div3 {
	background-color: yellow;
	width: 150px;
	height: 100px;
	padding: 15px;
	color: white;
	text-align: center;
	border-radius: 25px;
}

#div4 {
	text-align: center;
	background-color: blue;
	color: white;
	width: 150px;
	height: 100px;
	padding: 15px;
	border-radius: 50px;
}

#div5 {
	text-align: center;
	background-color: red;
	color: white;
	width: 150px;
	height: 100px;
	padding: 15px;
	border-radius: 25px;
}

#div6 {
	text-align: center;
	background-color: black;
	color: white;
	width: 150px;
	height: 100px;
	padding: 15px;
	border-radius: 25px;
}
