.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;
	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: gray;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar::before,
.calendar::after {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
}
.calendar::before {
	left: 11px;
	top: 3px;
}
.calendar::after {
	right: 11px;
	top: 3px;
}

.calendar em::before,
.calendar em::after {
	content: "";
	float: left;
	margin: 0px;
	width: 4px;
	height: 14px;
	border-radius: 10px;
	background: gray;
	z-index: 2;
	position: absolute;
}
.calendar em::before {
	top: -7px;
	left: 13px;
}
.calendar em::after {
	top: -7px;
	right: 13px;
}
